@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass; 
}

/*Utility Classes*/ 

.hidden {
    z-index: -5; 
}

.selected {
    background-color: hsl(25, 97%, 53%);
}

/*Styling Main Container and child elements */ 

main {
    border-radius: 30px; 
    position: relative; 
    height: 100vh; 
    max-width: 100vw; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: hsl(0, 0%, 100%); 
    font-weight: 700;  
}

p {
    color: hsl(217, 12%, 63%); 
    font-size: 14px; 
    line-height: 1.5; 
    font-weight: 400; 
}

li {
    color: hsl(217, 12%, 63%); 
    width: 45px; 
    height: 45px; 
    background-color: #333e4d; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition: all .2s ease;
    font-size: 15px;  
}

ul {
    display: flex; 
    list-style: none; 
    justify-content: space-around;
    margin-bottom: 15px; 
}

li:hover {
    background-color:hsl(25, 97%, 53%); 
    color: white; 
}

.preselection, .postselection {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%) translateY(-50%); 
    background-color: hsl(213, 19%, 18%); 
    border-radius: 30px; 
    padding: 23px; 
    width: 327px; 
}

.preselection > * + *, .postselection > * + * {
    margin-top: 15px; 
}

.image-container {
    background-color: #333e4d; 
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
}

li.picked {
    background-color: hsl(216, 12%, 54%);
    color: white; 
}

button {
    width: 100%; 
    padding: 15px; 
    font-size: 15px; 
    border-radius: 30px; 
    background-color: hsl(25, 97%, 53%);
    border: none; 
    color: white; 
    cursor: pointer; 
    transition: all .2s ease; 
}

button:hover {
    background-color: white; 
    color:hsl(25, 97%, 53%); 
}

.postselection {
    text-align: center;
}

.postselection div {
    display: inline-block; 
    margin: 0 auto; 
}

.postselection h2 {
    color: white; 
}

.select-message {
    background-color: #333e4d; 
    color:hsl(25, 97%, 53%); 
    border-radius: 30px; 
    display: inline-block; 
    padding: 5px 10px; 
}

/* Setting style for larger screen size*/ 

@media screen and (min-width: 430px) {
    .postselection, .preselection {
        padding: 36px; 
        width: 420px; 
    }
    p {
        font-size: 16px; 
    }
    li {
        width: 51px; 
        height: 51px; 
    }
    .image-container {
        width: 48px; 
        height: 48px; 
    }
    .heading {
        font-size: 30px; 
    }
}